.colbox {
  display: flex;
  flex-direction: row;
}

.rowbox {
  display: flex;
  flex-direction: column;
}

html {
  --text-shadow-color: #b3b3b3ae;
  --bg-color-solid: #fcfcfc;
  --bg-color-alter: #ffffff;
  --bg-color: #ffffffae;
  --text-color: #1c1c1c;
  --bd-color: #b2b2b2da;
  --text-active: #7cbeff;
  --titlebar-height: 40px;
  --shadow-edge-glow: inset 1px 1px 1px -.5px rgba(255, 255, 255, .2), inset -1px -1px 1px -.5px rgba(255, 255, 255, .12), inset 0 0 4px rgba(255, 255, 255, .4);
  --shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .06);
  --bg-color-alpha: hsla(240, 17%, 91%, 0.68);
  --bg-color-alpha-darker: hsla(0, 22%, 96%, 0.948);
  --bg-hover-fill: rgba(172, 172, 193, 0.24);
  --bg-hover-fill-close: rgba(239, 90, 90, 0.579);
}

html.dark {
  --text-shadow-color: #686868af;
  --bg-color-solid: #191919;
  --bg-color-alter: #2d2d2d;
  --bg-color: #2a2a2ace;
  --text-color: #c0c0c0;
  --bd-color: #7f7f7f7c;
  --titlebar-height: 40px;
  --shadow-edge-glow: inset 1px 1px 1px -0.5px rgba(255, 255, 255, 0.12),
    inset -1px -1px 1px -0.5px rgba(255, 255, 255, 0.04), inset 0 0 4px rgba(255, 255, 255, 0.06);
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.16);
  --bg-color-alpha: hsla(240, 1%, 14%, 0.68);
  --bg-color-alpha-darker: hsla(0, 0%, 14%, 0.948);
  --bg-hover-fill: rgb(131 131 145 / 24%);
  --bg-hover-fill-close: rgba(211, 86, 86, 0.579);
}

html {
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

input[type='text'] {
  border: none;
  outline: none;
  background-color: var(--bg-color-alter);
  border-bottom: 2px solid var(--bd-color);
  border-radius: 3px;
  color: var(--text-color);
  font-size: 15px;
  padding: 6px;
  transition: 0.3s;
}

input[type='text']:focus {
  background-color: var(--bg-color-solid);
  border-bottom: 2px solid var(--text-active);
}

textarea {
  outline: none;
  border: 1px solid var(--bd-color);
  border-radius: 3px;
  color: var(--text-color);
  font-size: 15px;
  padding: 5px;
  transition: 0.3s;
  background-color: var(--bg-color-alter);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

textarea:focus {
  background-color: var(--bg-color-solid);
  border: 1px solid var(--text-active);
}

.apply-button {
  align-self: flex-end;
  outline: none;
  border: solid 1px var(--bd-color);
  border-radius: 2px;
  width: 75px;
  height: 30px;
  background-color: var(--bg-color-alpha-darker);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.apply-button:hover {
  background-color: var(--bg-hover-fill);
}

.apply-button:active {
  background-color: var(--bg-color-solid);
  transform: scale(0.95);
}
